%p#notice= notice
= form_for @subapp do |f|
  - if @subapp.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subapp.errors.count, "error")} prohibited this subapp from being saved:"
      %ul
        - @subapp.errors.full_messages.each do |msg|
          %li= msg
  .input-group
    = f.label :design_is
    = f.text_field :design_id
  .actions
    = f.submit 'Save'

-if can? :manage, :admin
  = link_to 'Edit', edit_subapp_path(@subapp)
  = link_to 'Back', subapps_path
