#mirraw_image_search
  = form_tag search_and_upload_panel_url, :method => 'POST' do
    = label_tag(:design_id, "Search for:")
    = text_field_tag(:design_id)
    = submit_tag("Search")
-if can? :manage, :admin  
  #mirraw_image_upload
    = form_tag search_and_upload_panel_url, :method => 'POST', :multipart => true do
      = label_tag :csv_file, 'CSV File'
      = file_field_tag :csv_file, :accept => 'text/csv', :required => true
      = submit_tag :update   
:css
  table, th, td, tr{
    border:1px solid black;
  }

-if @url.present?
  #check_similar
    = form_tag recheck_similar_path, :method => 'POST', :multipart => true do
      = hidden_field_tag :id, @url.keys.first
      = submit_tag :check_similar
  #add_similar_design
    = form_tag add_similar_path, :method => 'POST', :multipart => true do
      = hidden_field_tag :id, @url.keys.first
      = text_field_tag :design_id, ''
      = submit_tag :add_similar
  #same_images{style:"float:left"}  
    %table
      %tr
        %td
          Designs
        %td
          Images
      - @url.each do |key,value|
        %tr
          %td  
            = link_to key, "http://www.mirraw.com/d/#{key}"
          %td  
            =image_tag value

-if @similar_url.present?
  #similar_images{style:"float:left"}  
    %table
      %tr
        %td
          Similar Designs
        %td
          Images
      - @similar_url.each do |key,value|
        %tr
          %td  
            = link_to key, "http://www.mirraw.com/d/#{key}"
          %td  
            =image_tag value
          %td
            = form_tag remove_similar_path, :method => 'POST', :multipart => true do
              = hidden_field_tag :id, @url.keys.first
              = hidden_field_tag :design_id, key
              = submit_tag :remove             
